streamlit==1.31.0
matplotlib
pandas
seaborn
plotly
scikit-learn
requests
numpy
plotly
altair==4.2.0
mplsoccer 
cachetools
aiohttp
dask
highlight_text
plottable
reactable
great_tables
bokeh==2.4.3
streamlit-aggrid