streamlit==1.39.0
matplotlib
pandas
seaborn
plotly
scikit-learn
requests
numpy
plotly
altair==4.2.0
mplsoccer 
cachetools
aiohttp
dask
highlight_text
plottable
reactable
great_tables
streamlit-aggrid
xgboost 
joblib
scikit-learn
optuna
thefuzz
schedule